body {
    margin: 0;
    font-family: Arial, sans-serif;
}


.navbar {
    position: fixed;
    display: flex;
    flex-direction: rows;
    width: 100%;
    height: 30px;
    align-items: center;
    background-color: white;
    padding: 5px;
    z-index: 3;
}

.logo h3 {
    position: relative;
    left: 10px;
}

.icon img {
    position: relative;
    left: 1400px;
    cursor: pointer;
}

.list {
    position: absolute;
    background-color: white;
    top: 30px;
    width: 100%;
    height: 250px;
    left: 0;
    display: none;
}

.list ul {
    list-style: none;
    text-align: center;
    font-size: 2rem;
}

.list ul li{
    margin-bottom: 20px;
    cursor: pointer;
}

.list ul li a:hover {
    color: grey;
}

.list ul li a{
    text-decoration: none;
    color: black;
}
.show {
    display: block;
}

.menu {
    padding-top: 30px;
    padding-left: 20px;
}

.coffe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.coffes {
    height: 350px;
}

.coffes img {
    border-radius: 20px;
}

.coffes h2 {
    text-align: center;
}

.food {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.foods img {
    border-radius: 20px;
}

.foods h2 {
    text-align: center;
}

.dessert {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.desserts img {
    border-radius: 20px;
}

.desserts h2 {
    text-align: center;
}

.footer {
    background-color: black;
    color: white;
    height: 100px;
    padding: 10px;
    line-height: 5px;
}

.footer h4{
    font-size: 0.75rem;
}